:root {
  --color-main: #ade4ff;
  --color-sub: #59c8ff;
  --color-back: #f2fbff;
  --color-body: #303030;
  --color-subbody: #a0a0a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
  outline: none;
}
:root {
  font-family: "Noto Sans JP", "sans-serif", "serif";
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--color-back);
  color: var(--color-body);
}

a {
  color: var(--color-body);
  text-decoration: none;
}

#page {
  padding: 10px 20px;
}
